<div class="layout-row layout-align-space-between-center">
  <h3>Nieuw gebouw</h3>
  {{#paper-button onClick=(action "cancel") iconButton=true}}{{paper-icon "close"}}{{/paper-button}}
</div>

{{customer-entity-create-form scope='building' model=model onRollback=onClose onSave=onClose}}