<div class="layout-row">
  {{paper-input label="Datum" value=model.paymentDateStr type="date"
      required="style" errors=(v-get model 'paymentDate' 'messages')
      onChange=(action (mut model.paymentDateStr)) onBlur=(perform save)
      class="default"}}
  {{paper-input label="Bedrag (€)" value=amountInput
      required="style" errors=(v-get model 'amount' 'messages')
      onChange=(action (mut amountInput)) onBlur=(queue (action "formatDecimal" "amount") (perform save))
      class="small"}}
  {{payment-select value=model.payment
      onSelectionChange=(queue (action (mut model.payment)) (perform save))
      class="md-input-wrapper"}}
</div>
{{yield}}