<div class="detail-list--item layout-row" ...attributes>
  <div class="flex-none detail-key">
    {{@label}}
  </div>
  <div class="flex flex-none detail-value {{if this.displayRow "layout-row" "layout-column"}}">
    {{yield}}
  </div>
</div>
