<div class="detail-list--item layout-row">
  <div class="flex-none detail-key">
    {{@label}}
  </div>
  <div class="flex detail-value {{if this.displayRow "layout-row"}}">
    {{yield}}
  </div>
</div>
