{{#if this.show}}
  <PaperDialog @class="flex-50" @onClose={{action "close"}} @clickOutsideToClose={{true}} @parent=".main-outlet" @origin=".main-outlet">
    <PaperToolbar>
      <PaperToolbarTools><h2>Document niet gevonden</h2></PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      {{yield}}
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton @onClick={{action "close"}}>OK</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}
