<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      {{paper-input label="Datum" value=model.offerDateStr type="date"
          required="style" errors=(v-get model 'offerDate' 'messages')
          onChange=(queue (action (mut model.offerDateStr)) (perform save))
          class="default"}}
    </div>
    <div class="layout-row">
      {{input-field/vat-rate-select value=model.vatRate
          onSelectionChange=(queue (action (mut model.vatRate)) (perform save))
          class="md-input-wrapper large"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Referentie klant" value=model.reference
          onChange=(action (mut model.reference)) onBlur=(perform save)
          class="xxlarge"}}
    </div>
  </section>
  {{visit-detail-panel model=model.request}}
</div>
