<table class="telephone-edit-table">
  <thead>
    <th><!-- Buttons --></th>
    <th>Type</th>
    <th>Land</th>
    <th>Zone</th>
    <th>Nummer</th>
    <th>Memo</th>
  </thead>
  <tbody>
    {{#if (is-pending model)}}
      <tr><td colspan="6">Aan het laden...</td></tr>
    {{else}}
      {{#each (sort-by "order" "id" model) as |telephone|}}
        {{telephone-edit-form-line model=telephone}}
      {{else}}
        <tr><td colspan="6">Geen telefoonnummers</td></tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
<div class="layout-row layout-align-end-center">
  {{#paper-button primary=true fab=true mini=true raised=true onClick=(action "addTelephone")}}
    {{paper-icon "add"}}
  {{/paper-button}}
</div>
