{{#if @model}}
  <div class="space-y-1">
    {{#if @model.hasBlankName}}
      <div class="text-gray-400 font-normal">
        Naamloos
      </div>
    {{else}}
      <div>
        <Fmt::CustomerName @model={{@model}} />
      </div>
    {{/if}}
  </div>
{{/if}}