{{#if @model}}
  <div class="flex">
    {{svg-jar "building-4-line" class="mr-1 flex-none h-5 w-5 text-gray-400 fill-current"}}
    <div class="space-y-1">
      {{#if @model.hasBlankName}}
        <div class="text-gray-400 italic font-normal">
          Naamloos
        </div>
      {{else}}
        <div>
          <Fmt::CustomerName @model={{@model}} />
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}