/* material variables are spread in the SCSS files of https://github.com/angular/material */
$primary: "red";
$accent: "blue-grey";

$base-color: rgba(0, 0, 0, 0.87) !default;

@import 'color-palette';
$color-red: map-merge($color-red, ('contrastDefaultColor':  $light-contrast-color));
$color-blue-grey: map-merge($color-blue-grey, ('contrastDefaultColor':  $light-contrast-color));

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');
html, body {
  font-family: 'Nunito', sans-serif;
}

$md-autocomplete-item-height: 36px !default;

@import 'ember-paper';
@import 'ember-paper-data-table';

$ember-power-select-material-active-color: paper-color($primary) !default;
$ember-power-select-highlighted-background: paper-color($primary, '200') !default;
@import 'ember-power-select/themes/material';
@import "ember-power-select";

@import 'layout';
@import 'utils';
@import 'input-fields';
@import 'loading';
@import 'login';
@import 'error';
@import 'resource-pages';
@import 'case-pages';
@import 'data-tables';
@import 'rich-text-editor';

/* Default style overwrites */
table {
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;

  td, th {
    padding: 12px 16px;
    text-align: left;
  }

  tbody tr:nth-child(odd) {
    background-color: lighten(paper-color($primary, '50'), 1);
  }
}

[data-ember-action]:not(:disabled),
tr.clickable,
.clickable,
[role=button] {
  cursor: pointer;
}

md-tabs md-ink-bar, md-tabs.md-default-theme md-ink-bar {
  background-color: paper-color($primary);
}

md-input-container .md-errors-spacer {
  display: none;
}

.data-table-pagination md-input-container {
  top: -1px;
}

.paper-input-error {
  font-size: 12px;
  color: RGB(var(--warn-A700));
}

.ember-power-select-trigger {
  background: #ffffff00; /* transparent */
}

.md-panel.md-tooltip {
  background-color: #FFF;
  color: $base-color;
  font-size: 0.9em;
  border: 1px solid $base-color;
}


/* Edit pages */
.save-status {
  margin-left: 10px;
  position: relative;
  top: 3px;

  md-icon.success {
    color: paper-color('green');
  }
  md-icon.error {
    color: paper-color('red');
  }
  md-icon.running {
    color: paper-color('blue');
  }
}

.badge {
  padding: 5px 7px;
  border-radius: 7px;
  color: #FFF;

  &.badge--dot {
    height: 10px;
    width: 10px;
    padding: 0;
  }

  &.badge--success {
    background-color: paper-color('green');
  }

  &.badge--failure {
    background-color: paper-color('red');
  }
}

.telephone-edit-table {
  td {
    md-input-container {
      margin: 0;
      label {
        display: none;
      }
    }

    md-autocomplete[md-floating-label] .md-show-clear-button button {
      top: 3px;
    }
  }
}

.link-action {
  text-decoration: underline;
  color: paper-color($primary);

  md-icon {
    color: paper-color($primary);
  }
}


.email-address {
  color: paper-color($primary);
}
