$primary: "red";
$accent: "blue-grey";

@import "color-palette";
$color-red: map-merge($color-red, ('contrastDefaultColor':  $light-contrast-color));
$color-blue-grey: map-merge($color-blue-grey, ('contrastDefaultColor':  $light-contrast-color));

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');
html, body {
  font-family: 'Nunito', sans-serif;
}

@import 'ember-paper';
@import 'ember-paper-link';
@import 'ember-data-table';


/* Default style overwrites */
table {
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;

  td, th {
    padding: 12px 16px;
    text-align: left;
  }

  tbody tr:nth-child(odd) {
    background-color: lighten(color($primary, '50'), 1);
  }
}

[data-ember-action]:not(:disabled),
tr.clickable,
.clickable {
  cursor: pointer;
}

md-tabs md-ink-bar, md-tabs.md-default-theme md-ink-bar {
  background-color: color($primary);
}


/* General layout */
.main-outlet {
  padding: 25px;
  min-width: 800px;
}

.subtitle {
  font-weight: 400;
}

.html-body {
  white-space: pre-wrap;
}

h1 .small-text-fade,
h2 .small-text-fade,
h3 .small-text-fade,
h4 .small-text-fade,
h5 .small-text-fade,
h6 .small-text-fade {
  color: color('grey', '600');
  font-size: 75%;
}

.text-fade {
  color: color('grey', '600');
}

/* Login screen */

.login-screen {
  min-height: 100vh;

  .header {
    color: #D52319;
  }

  .error--message {
    color: color($warn);
  }

  .error--tech-description {
    color: color('grey');
    font-size: 0.8em;
    font-style: italic;
  }
}


/* Top toolbar */
.top-toolbar {
  h1 {
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.75em;
    letter-spacing: 1.5px;
    word-spacing: 3px;
  }
}


/* Main side menu */

.main-side-nav-container {
  min-height: 100vh;

  .main-side-nav {
    text-transform: uppercase;
    background-color: color($primary);

    md-content {
      background-color: color($primary);
    }

    a.paper-link, md-list-item .md-button {
      text-transform: uppercase;
    }

    .md-subheader {
      text-align: right;
      margin-top: 15px;
    }

    md-list {
      background-color: color($primary);

      md-list-item {
        color: color($primary, 'contrastDefaultColor');
      }
    }
  }
}

/* Table filters */
.data-table-filters {
  border: 1px solid $table-border-color;
  padding: 0 15px 0 15px;

  md-input-container .md-errors-spacer {
    display: none;
  }

  input {
    width: 150px;
  }

  .small-input input {
    width: 100px;
  }

  .large-input input {
    width: 200px;
  }

  md-switch .md-label {
    color: color('grey');
  }

  .data-table-filters--title {
    display: inline-block;
    position: relative;
    top: -11px;
    padding: 0 10px;
    background-color: #FFF;
    text-transform: uppercase;
    font-size: 0.8em;
    color: color('grey');
  }

  .data-table-filters--group-title {
    text-transform: uppercase;
    font-size: 0.8em;
    color: color('grey');
    min-height: 18px;
  }

  md-icon.md-default-theme, md-icon {
    color: color('grey');
  }
}

.contacts-table,
.buildings-table,
.requests-table,
.offers-table,
.orders-table,
.invoices-table {
  .data-table-filters {
    border: none;
    padding-top: 15px;

    .data-table-filters--title {
      top: 0px;
    }
  }
}


/* Detail list */
.detail-list--item {
  .detail-key {
    width: 120px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
  }

  .detail-subkey {
    font-weight: bold;
    font-style: italic;
  }

  .detail-value.layout-row .detail-list--subitem {
    margin-right: 20px;
  }
}


/* Customer pages */
.resource-details {
  .left-column {
    margin-right: 50px;
  }

  .resource-details--section {
    margin-bottom: 20px;

    .category-icon {
      margin-right: 10px;
    }

    &.resource-details--section-name {
      md-icon {
        position: relative;
        top: -4px;
      }
    }

    &.resource-details--section-audit {
      color: color('grey');
      font-style: italic;
      font-size: 0.8em;

      span.divider {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    &.resource-details--section-comment {

    }
  }
}


/* Request/offers pages */
.requests-data-table,
.offers-data-table,
.orders-data-table,
.invoices-data-table {
  .data-table-filters {
    .data-table-filters--reset {
      position: relative;
      top: -8px;
    }
  }
}


/* Case pages */
.case--request--entry,
.case--order--entry,
.case--offer--entry,
.case--invoice--entry {
  min-width: 400px;

  md-checkbox {
    margin-bottom: 8px;
  }
}

.case--right-panel {
  width: 500px;
}

.case--request--visit {
  background-color: color($accent, '50');
  padding: 0 25px 15px 25px;
  margin: 0 25px;
}

.case--order--delivery {
  padding: 15px 25px 15px 25px;
  margin: 0 25px;
}

.case--deposit-invoices-table {
  margin-top: 25px;
}

.case--button-bar {
  margin-top: 10px;
}


/* Calcualtion table */
.invoice-calculation-table {
  .subtotal {
    font-style: italic;
  }

  .total {
    font-weight: bold;
  }
}
