.case--request--entry,
.case--order--entry,
.case--offer--entry,
.case--invoice--entry {
  min-width: 400px;

  md-checkbox {
    margin-bottom: 8px;
  }
}

.case--right-panel {
  width: 500px;
}

.case--order--planning,
.case--request--visit {
  background-color: paper-color($accent, '50');
  padding: 0 25px 15px 25px;
  margin: 0 25px 25px 0;

  .note--info {
    margin-top: 15px;
  }

  &.skeleton {
    width: 500px;
    height: 150px;
  }
}

.case--order--planning {
  .case--order--planning--description {
    padding-left: 32px;

    .col--subject {
      font-style: italic;
      margin-top: 5px;
    }
  }
}

.case--order--delivery {
  padding: 15px 25px 15px 25px;
  margin: 0 25px;
}

.case--deposit-invoices-table,
.case--deposits-table,
.case--deposits-form {
  margin-top: 25px;
}

.case--button-bar {
  margin-top: 10px;
}


.invoice-calculation-table {
  .subtotal {
    font-style: italic;
  }

  .total {
    font-weight: bold;
  }
}

.offer-document {
  max-width: 800px;

  section {
    margin: 10px 0;
  }
}

.offer-document-form {
  section {
    background-color: paper-color($accent, '50');
    margin: 10px 0;
    padding: 10px 5px;

    label {
      text-transform: uppercase;
      color: grey;
      margin: 5px;
    }

    .link-action {
      margin-right: 5px;
    }

    .pell-editor {
      background-color: #FFF;
    }
  }
}

.case--offer .offerlines-data-table {
  tr.is-ordered {
    background-color: paper-color('light-green', '100');
    border-bottom: 5px #FFF solid;
  }
}

.case--order--offerlines-selection {
  .case--order--offerlines-selection--offerline {
    transition: background-color 0.5s ease;
    background-color: paper-color($accent, '50');
    margin: 10px 0;
    padding: 10px 5px;

    &.case--order--offerlines-selection--offerline--ordered {
      background-color: paper-color('light-green', '200');
    }

    .col {
      margin: 10px;

      &.col--description {
        width: 600px;
      }

      &.col--amount,
      &.col--rate {
        min-width: 75px;
      }
    }
  }
}
