/* Table filters */
.data-table-filters {
  border: 1px solid $table-border-color;
  padding: 0 15px 0 15px;

  input {
    width: 150px;
  }

  .small-input input {
    width: 100px;
  }

  .large-input input {
    width: 200px;
  }

  md-switch .md-label {
    color: paper-color('grey');
  }

  .data-table-filters--title {
    display: inline-block;
    position: relative;
    top: -11px;
    padding: 0 10px;
    background-color: #FFF;
    text-transform: uppercase;
    font-size: 0.8em;
    color: paper-color('grey');
  }

  .data-table-filters--group-title {
    text-transform: uppercase;
    font-size: 0.8em;
    color: paper-color('grey');
    min-height: 18px;
  }

  md-icon.md-default-theme, md-icon {
    color: paper-color('grey');
  }
}

.contacts-table,
.buildings-table,
.requests-table,
.interventions-table,
.offers-table,
.orders-table,
.deposit-invoices-table,
.invoices-table {
  .data-table-filters {
    border: none;
    padding-top: 15px;

    .data-table-filters--title {
      top: 0px;
    }
  }
}

.requests-data-table,
.offers-data-table,
.orders-data-table,
.deposit-invoices-data-table,
.invoices-data-table {
  .data-table-filters {
    .data-table-filters--reset {
      position: relative;
      top: -8px;
    }
  }
}

.data-table-pagination-left .ember-power-select-trigger,
.data-table-pagination-right .ember-power-select-trigger {
  min-width: 75px;
}
