.invoice-document-dialog {
  label.key {
    width: 150px;
  }

  md-radio-group md-radio-button {
    display: inline;
    margin-right: 25px;
  }

  .panel--vat-certificate {
    margin-top: 25px;
  }
}
