.error-page {
  .error--tech-description {
    color: color('grey');

    md-icon {
      margin-right: 15px;
    }
  }
}

.info-message {
  color: color('blue');
  background-color: color('blue', '50');
  border: 1px solid color('blue');
  padding: 10px;
  margin-top: 0;

  md-icon {
    color: color('blue');
    position: relative;
    top: -2px;
  }
}

.warning-message {
  color: color('red');
  background-color: color('red', '50');
  border: 1px solid color('red');
  padding: 10px;
  margin-top: 0;

  md-icon {
    color: color('red');
    position: relative;
    top: -2px;
  }
}
