/* Don't display input placeholder in date fields if empty */
md-input-container:not(.md-input-has-value) input:not(:focus) {
  color: transparent;
}

md-input-container {
  &.no-spacer-bottom {
    margin-bottom: 0px;
  }

  &.spacer-left {
    margin-left: 20px;
  }
}

md-input-container {
  &.xsmall {
    .md-input { width: 50px; }
  }

  &.small {
    .md-input { width: 100px; }
  }

  &.default {
    .md-input { width: 150px; }
  }

  &.large {
    .md-input { width: 200px; }
  }

  &.xlarge {
    .md-input { width: 250px; }
  }

  &.xxlarge {
    .md-input { width: 400px; }
  }
}

.md-input-wrapper {
  &.xsmall {
    width: 50px;
    md-autocomplete { min-width: 50px; }
  }

  &.small {
    width: 100px;
    md-autocomplete { min-width: 100px; }
  }

  &.default {
    width: 150px;
    md-autocomplete { min-width: 150px; }
  }

  &.large {
    width: 200px;
    md-autocomplete { min-width: 200px; }
  }

  &.xlarge {
    width: 250px;
    md-autocomplete { min-width: 250px; }
  }

  &.xxlarge {
    width: 400px;
    md-autocomplete { min-width: 400px; }
  }

  &.xxxlarge {
    width: 500px;
    md-autocomplete { min-width: 500px; }
  }

  &.no-spacer-bottom {
    md-input-container {
      margin-bottom: 0px;
    }
  }

  &.spacer-left {
    md-input-container {
      margin-left: 20px;
    }
  }
}

.input-postfix {
  position: relative;
  top: -20px;
  padding: 0 15px 0 5px;
}

.production-ticket-download {
  margin-left: 15px;
  margin-bottom: 20px;
}

.file-upload.production-ticket-upload,
.file-upload.certificate-upload {
  margin-left: 15px;
  margin-bottom: 20px;

  i {
    position: relative;
    top: 5px;
    color: paper-color($accent);
    cursor: pointer;
  }
}

.input--certificate .certificate-download,
.input--certificate .md-button.md-icon-button {
  margin-bottom: 18px;
  margin-left: 5px;
  padding-left: 0px;

  md-icon {
    color: paper-color($accent);
    cursor: pointer;
  }
}
