/* Don't display input placeholder in date fields if empty */
md-input-container:not(.md-input-has-value) input:not(:focus) {
  color: transparent;
}

md-input-container {
  &.no-spacer-bottom {
    margin-bottom: 0px;
  }

  &.spacer-left {
    margin-left: 20px;
  }
}

md-input-container {
  &.xsmall {
    .md-input { width: 50px; }
  }

  &.small {
    .md-input { width: 100px; }
  }

  &.default {
    .md-input { width: 150px; }
  }

  &.large {
    .md-input { width: 200px; }
  }

  &.xlarge {
    .md-input { width: 250px; }
  }

  &.xxlarge {
    .md-input { width: 400px; }
  }
}

.md-input-wrapper {
  &.xsmall {
    width: 50px;
    md-autocomplete { min-width: 50px; }
  }

  &.small {
    width: 100px;
    md-autocomplete { min-width: 100px; }
  }

  &.default {
    width: 150px;
    md-autocomplete { min-width: 150px; }
  }

  &.large {
    width: 200px;
    md-autocomplete { min-width: 200px; }
  }

  &.xlarge {
    width: 250px;
    md-autocomplete { min-width: 250px; }
  }

  &.xxlarge {
    width: 400px;
    md-autocomplete { min-width: 400px; }
  }

  &.xxxlarge {
    width: 500px;
    md-autocomplete { min-width: 500px; }
  }

  &.xxxxlarge {
    width: 600px;
    md-autocomplete { min-width: 600px; }
  }

  &.no-spacer-bottom {
    md-input-container {
      margin-bottom: 0px;
    }
  }

  &.spacer-left {
    md-input-container {
      margin-left: 20px;
    }
  }
}

input {
  &.xsmall {
    width: 50px;
  }

  &.small {
    width: 100px;
  }

  &.default {
    width: 150px;
  }

  &.large {
    width: 200px;
  }

  &.xlarge {
    width: 250px;
  }

  &.xxlarge {
    width: 400px;
  }
}

.input-postfix {
  position: relative;
  top: -20px;
  padding: 0 15px 0 5px;
}

.input-export-number {
  position: relative;
  top: -10px;
  padding: 0 15px;
}

.file-upload.production-ticket-upload,
.file-upload.certificate-upload {
  i {
    position: relative;
    color: paper-color('grey', '600');
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 6px;
  }
}

.input--certificate .certificate-download,
.input--certificate .md-button.md-icon-button {
  margin-bottom: 18px;
  margin-left: 5px;
  padding-left: 0px;

  md-icon {
    color: paper-color($accent);
    cursor: pointer;
  }
}

md-checkbox .checkbox-tooltip {
  color: paper-color('grey');
  font-size: 0.8em;
}

.ember-power-select-dropdown {
  .add-new-option {
    text-align: center;
    background-color: paper-color('grey', '200');

    &:hover {
      background-color: paper-color($primary, '200');
    }
  }
}

label.power-select--label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  order: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 3px;
  padding-right: 0;
  z-index: 1;
  max-width: 100%;
}
