.main-outlet {
  margin-top: 64px; /* height of the fixed toolbar on top */
  padding: 25px;
  min-width: 1000px;
}

/* Top toolbar */
.top-toolbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  h1 {
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.75em;
    letter-spacing: 1.5px;
    word-spacing: 3px;
  }
}


/* Main side menu */
.main-side-nav-container {
  min-height: 100vh;

  .main-side-nav {
    text-transform: uppercase;
    background-color: paper-color($primary);

    md-content {
      background-color: paper-color($primary);
    }

    a.paper-link, md-list-item .md-button {
      text-transform: uppercase;
    }

    .md-subheader {
      text-align: right;
      margin-top: 15px;
      background-color: paper-color($primary);
    }

    md-list {
      background-color: paper-color($primary);

      md-list-item {
        color: paper-color($primary, 'contrastDefaultColor');
      }
    }

    span.version {
      margin-top: 4px;
      margin-left: 15px;
      font-size: 0.75em;
      background-color: paper-color($primary);
      text-transform: none;
    }
  }
}

/*
  Workaround to make fixed position work with liquid-fire
  See: https://github.com/ember-animation/liquid-fire/issues/197
*/
.liquid-container > .liquid-child,
.liquid-container {
  transform: initial;
}
