/* Loading page */
.loading-page {
  min-height: 300px;

  .loader {
    min-width: 300px;
    text-align: center;

    p {
      color: color('grey');
    }
  }
}

.loader-buttons {
  width: 300px;
  text-align: center;

  p {
    color: color('grey');
  }
}
