/* Loading page */
.loading-page {
  min-height: 300px;

  .loader {
    min-width: 300px;
    text-align: center;

    p {
      color: paper-color('grey');
    }
  }
}

.loader-buttons {
  width: 300px;
  text-align: center;

  p {
    color: paper-color('grey');
  }
}

md-progress-circular.md-progress-white path {
  stroke: white;
}

md-toolbar .data-preloader {
  margin-left: 25px;
}
