/* Detail list */
.detail-list--item {
  .detail-key {
    width: 120px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
  }

  .detail-subkey {
    font-weight: bold;
    font-style: italic;
  }

  .detail-value.layout-row .detail-list--subitem {
    margin-right: 20px;
  }
}


/* Customer pages */
.resource-details {
  .left-column {
    margin-right: 50px;
  }

  .resource-details--section {
    margin-bottom: 20px;

    .category-icon {
      margin-right: 10px;
    }

    &.resource-details--section-name {
      md-icon {
        position: relative;
        top: -4px;
      }
    }

    &.resource-details--section-audit {
      color: paper-color('grey');
      font-style: italic;
      font-size: 0.8em;

      span.divider {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    &.resource-details--section-comment {

    }
  }
}

/* Accountancy exports */
.export-panel {
  padding: 20px;
  background-color: paper-color('grey', '200');
  max-width: 600px;

  md-checkbox {
    position: relative;
    top: 8px;
  }

  button.md-icon-button {
    md-icon {
      position: relative;
      top: -3px;
      right: 3px;
    }
  }
}
