.pell-editor {
  border: 1px solid color('grey');
  margin: 5px;
}

.pell-button[title="Heading 1"],
.pell-button[title="Heading 2"],
.pell-button[title="Quote"],
.pell-button[title="Image"],
.pell-button[title="Code"] {
  display: none;
}

.pell-content {
  height: 150px;
  width: 500px;
}
