.subtitle {
  font-weight: 400;
}

.breadcrumbs {
  a {
    color: paper-color('grey');
  }
}

.html-body {
  white-space: pre-wrap;
}

h1 .small-text-fade,
h2 .small-text-fade,
h3 .small-text-fade,
h4 .small-text-fade,
h5 .small-text-fade,
h6 .small-text-fade {
  color: paper-color('grey', '600');
  font-size: 75%;
}

h1 .note-fade,
h2 .note-fade,
h3 .note-fade,
h4 .note-fade,
h5 .note-fade,
h6 .note-fade {
  display: block;
  color: paper-color('grey', '600');
  font-size: 0.75em;
  font-weight: normal;
}

.text-fade {
  color: paper-color('grey', '600');
}

.text-fade-dark {
  color: paper-color('grey', '800');
}

.truncate {
  max-width: 300px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-message {
  font-style: italic;
}

.note {
  font-style: italic;
  font-size: 0.8em;

  &.note--info {
    color: paper-color('grey');
  }
}

.u-text-right {
  text-align: right;
}

.u-bold {
  font-weight: bold;
}

.u-margin-top-small {
  margin-top: 10px;
}

.u-margin-bottom-small {
  margin-bottom: 10px;
}

.u-margin-bottom-large {
  margin-bottom: 40px;
}

.u-margin-right-small {
  margin-right: 10px;
}

.u-margin-left-xsmall {
  margin-left: 5px;
}

.u-rel-top-xxsmall {
  position: relative;
  top: 2px;
}

.u-rel-top-small {
  position: relative;
  top: 9px;
}

.u-rel-top-neg-small {
  position: relative;
  top: -8px;
}

.u-rel-top-neg-normal {
  position: relative;
  top: -13px;
}

.u-spacer-large {
  min-width: 40px;
}

.u-vspacer-small {
  min-height: 10px;
}
