.subtitle {
  font-weight: 400;
}

.breadcrumbs {
  a {
    color: paper-color('grey');
  }
}

.html-body {
  white-space: pre-wrap;
}

h1 .small-text-fade,
h2 .small-text-fade,
h3 .small-text-fade,
h4 .small-text-fade,
h5 .small-text-fade,
h6 .small-text-fade {
  color: paper-color('grey', '600');
  font-size: 75%;
}

.text-fade {
  color: paper-color('grey', '600');
}

.note {
  font-style: italic;
  font-size: 0.8em;

  &.note--info {
    color: paper-color('grey');
  }
}

.u-bold {
  font-weight: bold;
}

.u-margin-bottom-small {
  margin-bottom: 10px;
}

.u-margin-bottom-large {
  margin-bottom: 40px;
}
