<div class="resource-details--section layout-row">
  <div class="category-icon mr-2">
    {{#paper-icon @icon}}
      <PaperTooltip>{{@label}}</PaperTooltip>
    {{/paper-icon}}
  </div>
  <div>
    {{yield}}
  </div>
</div>
