<div class="flex flex-auto flex-shrink-0" ...attributes>
  <dt class="flex-none w-32 pr-4 text-right font-semibold text-gray-500">
    {{@label}}
  </dt>
  <dd class="{{if this.displayRow "flex-row" "flex-col"}} text-gray-900">
    {{yield}}
  </dd>
</div>
