.ec {
  --ec-border-color: #f3f4f6;
}

/* Toolbar with selected day indication and action buttons */
.ec-toolbar {
  @apply p-6 border-b border-gray-200 mb-0;
}

.ec-toolbar > div:last-child {
  @apply flex flex-row ;
}

.ec-toolbar .rlv-ec-button {
  @apply ring-1 ring-inset ring-gray-300 hover:bg-gray-50 px-3 py-2 bg-white text-sm text-gray-700;
}

.ec-toolbar .rlv-ec-button.ec-add-resource {
  @apply rounded-md text-gray-400 shadow-sm;
}

.ec-toolbar .rlv-ec-button-group {
  @apply isolate inline-flex rounded-md shadow-sm;
}

.ec-toolbar .rlv-ec-button-group .rlv-ec-button {
  @apply relative inline-flex items-center focus:z-10;
}

.rlv-ec-button.ec-prev {
  @apply rounded-l-md px-2 text-gray-400;
}

.rlv-ec-button.ec-today {
  @apply -ml-px font-semibold;
}

.rlv-ec-button.ec-next {
  @apply -ml-px rounded-r-md text-gray-400;
}

/* Resource column headers */
.ec-header {
  @apply border-x-0 border-t-0 border-b-2 border-gray-200;
  height: 48px;
}

.ec-header .ec-resource {
  @apply py-3 text-sm leading-6 text-gray-500 font-semibold border-l border-gray-200;
}

.ec-header .ec-resource .ec-day {
  @apply border-none grow-0;
}

/* Resource column lines */
.ec-day {
  @apply border-l border-gray-200;
}

/* Hour lines */
.ec-sidebar .ec-time {
  @apply text-right text-xs leading-5 text-gray-400;
}

.ec-time-grid .ec-time, .ec-time-grid .ec-line {
  height: 32px;
}

.ec-body:not(.ec-compact) .ec-line:nth-child(even)::after {
  @apply border-none;
}

/* Event boxes */
.ec-events .ec-event {
  @apply ml-0.5 bg-blue-50 px-1 py-1 border border-white rounded-lg text-xs leading-5;
}

.ec-events .ec-event .ec-event-time {
  @apply hidden;
}
