<ul>
  {{#each this.sortedOfferlines as |line|}}
    <li class="py-2">
      <Offerline::Detail
        @model={{line}}
        @onSave={{@onSave}}
        @isDisabledEdit={{@isDisabledEdit}} />
    </li>
  {{else}}
    <li class="py-2">
      <div class="grid border border-gray-200 rounded">
        <div class="p-4 text-sm text-gray-400 italic">
          Nog geen inhoud
        </div>
      </div>
    </li>
  {{/each}}
</ul>
