<Rlv::AlertDialog
  @title="Dossier opnieuw openen"
  @confirmationButtonLabel="Heropen"
  @onConfirm={{@onConfirm}}
  @onClose={{@onClose}}>
  <p class="text-sm text-gray-500">
    Bent u zeker dat u dit dossier opnieuw wil openen?
  </p>
</Rlv::AlertDialog>