<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>Factuur</h2>
  </div>
</div>

<div>
  <PaperProgressLinear />
  <p>Nieuwe factuur aan het maken...</p>
</div>
