<div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
  <div class="bg-white overflow-hidden shadow rounded-lg">
    <div class="p-5">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          {{svg-jar "heroicons-md-shopping-cart" class="h-6 w-6 text-gray-400"}}
        </div>
        <div class="ml-5 w-0 flex-1">
          <dl>
            <dt class="text-sm font-medium text-gray-500 truncate">Plaatsing</dt>
            <dd>
              <div class="text-lg font-medium text-gray-900">
                {{ceil this.averagePlacementDurationInWeeks}} weken
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white overflow-hidden shadow rounded-lg">
    <div class="p-5">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          {{svg-jar "heroicons-md-cog" class="h-6 w-6 text-gray-400"}}
        </div>
        <div class="ml-5 w-0 flex-1">
          <dl>
            <dt class="text-sm font-medium text-gray-500 truncate">Interventie</dt>
            <dd>
              <div class="text-lg font-medium text-gray-900">
                {{ceil this.averageInterventionDuration}} dagen
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>