<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="API" stopProcessing="true">
          <match url="^(api)(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="remote.rollvolet.be" />
          </conditions>
          <action type="Rewrite" url="http://localhost:8080/{R:0}" />
        </rule>
        <rule name="CatchAll For Ember" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>%
</configuration>
