{{#unless this.userInfo.isOAuthConnected}}
  <div class="flex">
    <div>{{svg-jar "base-station-line" class="fill-yellow-400 h-5 w-5"}}</div>
    <span class="-mt-1 relative flex h-3 w-3">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-yellow-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-yellow-500"></span>
    </span>
    <EmberTooltip @text="Connectie met Microsoft is verbroken. Log opnieuw in." />
  </div>
{{/unless}}