<div class="error-page">
  <h1>Oeps, er is iets misgelopen...</h1>

  <p>Contacteer de helpdesk indien deze fout zich blijft voordoen.</p>

  <div class="layout-row error--tech-description">
    {{paper-icon "error"}}
    <div class="flex"><pre>{{model}}</pre></div>
  </div>
</div>