<h1 class="text-3xl font-bold font-display my-6">Welkom, {{this.userInfo.name}}!</h1>

<p class="text-gray-900">
  Maak uw keuze in het menu aan de linkerkant door op het {{svg-jar "heroicons-md-menu-alt-2" class="inline h-5 w-5"}}-icoon te klikken.
</p>
