{{#if @model.intervention}}
  <li class="relative overflow-hidden lg:flex-1">
    <div class="overflow-hidden border border-gray-200 rounded-t-md border-b-0 lg:border-0">
      <LinkTo @route="main.case.intervention.edit.index"
        @models={{array @model.id @model.intervention.id}}
        class="group" aria-current="step">
        <span class="absolute left-0 top-0 h-full w-1 {{if (eq @selectedStep "intervention") "bg-red-600" "bg-transparant group-hover:bg-gray-200"}} lg:bottom-0 lg:top-auto lg:h-1 lg:w-full" aria-hidden="true"></span>
        <span class="flex items-start px-6 py-5 text-sm">
          <span class="flex-shrink-0">
            <Case::Tabs::StepIcon @current={{@currentStep}} @reference="intervention" />
          </span>
          <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
            <span class="text-sm font-medium">Interventie</span>
            <span class="flex space-x-2 items-center">
              <span class="text-xs text-gray-500">
                <Fmt::Date @value={{@model.intervention.interventionDate}} />
              </span>
            </span>
          </span>
        </span>
      </LinkTo>
    </div>
  </li>
{{/if}}
