<div class="overflow-hidden border border-gray-200 rounded-b-md border-t-0 lg:border-0">
  <div class="group">
    <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-gray-200 lg:bottom-0 lg:top-auto lg:h-1 lg:w-full" aria-hidden="true"></span>
    <span class="flex items-center px-6 py-5 text-sm font-medium lg:pl-9">
      <span class="flex-shrink-0">
        <span class="flex-shrink-0">
          <Case::Tabs::StepIcon @step={{or @step "future"}} />
        </span>
      </span>
      <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
        <span class="text-sm font-medium text-gray-300">{{@label}}</span>
      </span>
    </span>
  </div>
  <Case::Tabs::Separator />
</div>
