<div class="offer-document layout-column">
  <section>{{{@model.documentIntro}}}</section>
  <section><Offerline::Table @model={{@model.offerlines}} /></section>
  <section>{{{@model.documentOutro}}}</section>
</div>
