<div class="p-1 flex items-center justify-center bg-gray-200 text-gray-700 text-sm hover:bg-gray-300 hover:text-gray-900" {{on "click" this.create}} role="button">
  {{svg-jar "add-line" class="h-4 w-4 mr-1 fill-current"}}
  Voeg toe
</div>
