{{#each (take this.visibleNbOfItems (sort-by "value" @model)) as |email|}}
  <div>
    <Fmt::Email @value={{email.value}} />
    {{#if email.note}}
      <span class="text-gray-400">({{email.note}})</span>
    {{/if}}
  </div>
{{/each}}

{{#if this.isCollapsible}}
  <Rlv::Button
    @label={{if this.isCollapsed "Toon meer" "Toon minder"}}
    @skin="secondary-link"
    @size="small"
    {{on "click" this.toggleCollapse}} />
{{/if}}
