<div class="flex items-center justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="rlv-page-title">
      Offerte
    </h2>
  </div>
</div>

<div>
  <Util::LoadingSpinner @label="Nieuwe offerte aan het maken..." />
</div>
