<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2 class="text-2xl font-bold font-display my-4">Offerte</h2>
  </div>
</div>

<div>
  <PaperProgressLinear />
  <p>Nieuwe offerte aan het maken...</p>
</div>
