<EmberTooltip @tooltipClass="max-w-none">
  <span class="block">
    Optimaliseer uw zoekresultaat door het gebruik van speciale symbolen:
  </span>
  <span class="block whitespace-nowrap">
    * : wildcard die 1 of meerdere karakters matcht aan het eind (vb. Deb*)
  </span>
  <span class="block whitespace-nowrap">
    - : sluit resultaten met dit woord uit (vb. -john)
  </span>
  <span class="block whitespace-nowrap">
    ~N : laat N schrijffouten toe (vb. Deboek~2)
  </span>
</EmberTooltip>
