<div class="flex items-center justify-between">
  <div class="flex-1 min-w-0">
    <h2 class=rlv-page-title>
      Klantenbezoeken
    </h2>
  </div>
</div>

<div class="mt-6 bg-white shadow rounded-lg overflow-y-auto">
  <Visit::CalendarDay @date={{this.date}} @onDidChangeDate={{this.updateDate}} />
</div>