.oops-page {
  max-width: 600px;
  margin: 50px auto;
}

.error-page {
  .error--tech-description {
    color: paper-color('grey');

    md-icon {
      margin-right: 15px;
    }
  }

  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}

.info-message {
  color: paper-color('blue');
  background-color: paper-color('blue', '50');
  border: 1px solid paper-color('blue');
  padding: 10px;
  margin-top: 0;
  margin-bottom: 15px;

  md-icon {
    color: paper-color('blue');
    position: relative;
    top: -2px;
  }
}

.warning-message {
  color: paper-color('red');
  background-color: paper-color('red', '50');
  border: 1px solid paper-color('red');
  padding: 10px;
  margin-top: 0;
  margin-bottom: 15px;

  md-icon {
    color: paper-color('red');
    position: relative;
    top: -2px;
  }
}

.warning-inline {
  color: paper-color('red');
  background-color: paper-color('red', '50');
}
