.info-message {
  color: paper-color('blue');
  background-color: paper-color('blue', '50');
  border: 1px solid paper-color('blue');
  padding: 10px;
  margin-top: 0;
  margin-bottom: 15px;

  md-icon {
    color: paper-color('blue');
    position: relative;
    top: -2px;
  }
}

.warning-message {
  color: paper-color('red');
  background-color: paper-color('red', '50');
  border: 1px solid paper-color('red');
  padding: 10px;
  margin-top: 0;
  margin-bottom: 15px;

  md-icon {
    color: paper-color('red');
    position: relative;
    top: -2px;
  }
}

.warning-inline {
  color: paper-color('red');
  background-color: paper-color('red', '50');
}
