.login-screen {
  min-height: 100vh;

  .header {
    color: #D52319;
  }

  .error--message {
    color: paper-color($warn);
  }

  .error--tech-description {
    color: paper-color('grey');
    font-size: 0.8em;
    font-style: italic;
  }
}
