/* Detail list */
.detail-list--item {
  .detail-key {
    width: 120px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
  }

  .detail-subkey {
    font-weight: bold;
    font-style: italic;
  }

  .detail-value.layout-row .detail-list--subitem {
    margin-right: 20px;
  }

  .detail-value {
    max-width: 800px;
  }

  md-radio-button,
  md-radio-button .md-container,
  md-radio-button .md-label,
  md-icon[md-font-icon="check_box"],
  md-icon[md-font-icon="check_box_outline_blank"] {
    cursor: default;
  }
}

/* Accountancy exports */
.export-panel {
  padding: 20px;
  background-color: paper-color('grey', '200');
  max-width: 600px;

  md-checkbox {
    position: relative;
    top: 8px;
  }

  button.md-icon-button {
    md-icon {
      position: relative;
      top: -3px;
      right: 3px;
    }
  }
}
