.order-document-edit > .pell-editor {
  border: 1px solid paper-color('grey');
  margin: 5px;
  background-color: #FFF;

  &.offerline,
  &.invoiceline {
    width: 800px;

    .pell-content {
      height: 250px;
      width: 800px;
    }
  }

  &.invoice-outro,
  &.offer-intro,
  &.offer-outro {
    width: 1000px;

    .pell-content {
      height: 200px;
      width: 1000px;
    }
  }

}
